<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="swift:osf:listservice:data:sql" value="data source=ec2-54-221-216-155.compute-1.amazonaws.com; database=OSF_List; User ID=SVC_Sitecore; Password=2sitecore2;" />
		<add key="cache:mode" value="memory" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Data\Logs\log.txt"/>
			<appendToFile value="false" />
			<maxSizeRollBackups value="16"/>
			<maximumFileSize value="10240KB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]"/>
				<footer value="[Footer]"/>
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>
