<ConnectionStrings>
  <add name="core" connectionString="user id=SVC_Sitecore;password=2sitecore2;Data Source=<% @db_host %>;Database=OSF_Sitecore_Core"/>
  <add name="master" connectionString="user id=SVC_Sitecore;password=2sitecore2;Data Source=<% @db_host %>;Database=OSF_Sitecore_Master"/>
  <add name="web" connectionString="user id=SVC_Sitecore;password=2sitecore2;Data Source=<% @db_host %>;Database=OSF_Sitecore_Web"/>
</connectionStrings>

